#dice-box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url(/public/assets/dark-wood.jpg);
  background-size: cover;
}

#dice-box canvas {
  width: 100%;
  height: 100%;
}